@charset "utf-8";
*{
 margin: 0;padding: 0;
 box-sizing: border-box;
}
img{
 vertical-align: bottom;
 max-width: 100%;
}
a{
 text-decoration: none;
}

body{
 background-color: rgb(18, 173, 51);
}
h1{
 text-align: center;
 margin: 40px 0;
}
.column-wrapper{
 width: 90%;
 margin: 0 auto 100px;
 columns: 4;
 gap: 20px;
}
.box{
 break-inside: avoid;
background-color: rgb(245, 219, 171);
padding: 20px;
border-radius: 8px;
box-shadow: 10px 10px 10px rgb(71, 67, 67);
/* margin-bottom: 10px; */

}
/* 要素の中で改行されないようにする */
.photo{
 margin-bottom: 10px;

}
.txt{
 line-height: 1.8;
}

#more-btn{
 display: none;
}

/* 960PX以下の時は３カラム */
@media (max-width:960px){
.column-wrapper{
 columns: 3;
width: 96%;
gap: 20px;}

.box{
 margin-bottom: 20px;
}
/* 640px以下の時は２カラム */
#more-btn{
 display: block;
 margin-bottom: 60px;
}

.box{
 padding: 10px;
 margin-bottom: 16px;
}
.box:nth-of-type(n+9){
 display: none;
}

.button01 a {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 padding: 1em 2em;
 width: 300px;
 color: #333;
 font-size: 18px;
 font-weight: 700;
 background-color: #cccccc;
 transition: 0.3s;
}

.button01 a::after {
 content: '';
 width: 5px;
 height: 5px;
 border-top: 3px solid #333333;
 border-right: 3px solid #333333;
 transform: rotate(45deg);
}

.button01 a:hover {
 text-decoration: none;
 background-color: #bbbbbb;
}
}
@media (max-width:640px){
 .column-wrapper{
  columns: 2;
 width: 96%;
 gap: 16px;}
 }
 .box{
  margin-bottom: 16px;}